* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.arrow{
    object-fit: cover;
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
    width: 130px;
    opacity: 0.4;
}

#simg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bhead{
    padding-top: 100px;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 8rem;
    font-weight: 400;
}

.sol{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    width: 10%;
    margin-left: 10px;
    height: 630px;
    background-color: var(--blue);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    transition: all 0.7s ease;
}

.box h2{
    font-family: 'ivymode';
    padding-top: 40px;
    transition: all 0.3s ease;
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 2.4rem);
    color: var(--lblue);
    writing-mode:vertical-rl;
    opacity: 0.4;
    transform: rotate(180deg);
}

.box .isol{
    margin-top: 40px;
    display: none;
    width: 500px;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    border-radius: 7px;
}

.box a{
    text-decoration: none;
    display: none;
}

.box h1{
    font-family: 'ivymode';
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    opacity: 0.4;
    text-align: center;
    width: 100%;
    height: 15%;
    color:var(--lblue);
    font-size: 4rem;
    font-weight: 400;
}

.box ul{
    transition: all 0.3s ease-in-out;
    display: none;
}

.box:hover h1,.box:hover h2{
    opacity: 1;
}

.box:hover .arrow{
    opacity: 1;
}

.btn1 {
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--blue);
    font-size: 1rem;
    display: flex;
    padding: 12px 22px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


.btn1:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

.hidden:checked + .box{
    justify-content: space-around;
    cursor: default;
    background-color: white;
    border: 2px solid var(--blue);
    width: 50%;
    height: 630px;
}

.hidden:checked + .box .isol{
    display: block;
}

.hidden:checked + .box .btn1{
    opacity: 1;
    visibility: visible;
}

.hidden:checked + .box h2{
    text-align: center;
    transition: none;
    opacity: 1;
    display: inline;
    height: 10%;
    color: var(--blue);
    writing-mode: horizontal-tb;
    transform: rotateX(360deg);
}

.hidden:checked + .box h1{
    opacity: 1;
    visibility: hidden;
    opacity: 0;
} 

.hidden:checked + .box a{
    display: block;
}

.hidden:checked + .box .arrow{
    display: none;
}

.hidden:checked + .box ul{
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    display: block;
    padding: 30px 0px 30px 0px;
}

.hidden:checked + .box ul li{
    font-weight: 300;
}
.hidden{
    display: none;
}

.bb{
    position: relative;
    width: 100%;
    height: 460px;
}

#bhead{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5.5rem;
}

h1{
    font-family: "ivymode";
}

input[type="radio"]:focus {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

label{
    -webkit-tap-highlight-color: transparent;
}

